
h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

span {
    font-size: 14px;
    padding-bottom: 40px;
}

h1, 
h3,
span {
    color: #50518d;
    font-weight: 400;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.WeatherHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes fill {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .animateText{
    background-image: url("https://source.unsplash.com/random");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #FFFFFF;
    padding: 2px;
    font-size: 250px;
    animation: fill ease 4s 1 alternate-reverse;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    font-weight: 800;
  }