.weatherComponent {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-weight: 300;
    height: 30vh;
    align-items: center;
}

p {
    color:  #FFFFFF;
    padding: 10px;
    font-size: 20px;
    text-shadow: 10px 4px 7px #000000;
}